
.stop h1{
    
     color: rgb(3, 3, 20);
    text-align: center;
    font-size: 25px;
    

}
.stop p{
    color: rgb(102, 95, 95);
    text-align: center;
    font-size:20px;
}
.char {
    text-align: center;
    font-size: 10px;
}
div{
    text-align: center;
    
}
div img{
    
    border-radius: 5px;
    background-color: white;
    margin: 20px;
}
body{
    background-color:lightgray;
    
    
}
#container {
    background-color: white;
    border:0;
    border-radius: 5px;
    margin: 30px 500px 0px 500px;
}
